<% provide(:title, 'About Us') %>

<h1>About Us</h1>
<p>
	Today, men are taking care of their skin beyond just washing with a bar of soap. As men, we are more conscious of our image and realize that there is no shame in taking care of ourselves. However, when it comes to buying skincare, many of us either feel like headless chickens in the cosmetic sections of retail stores or feel ashamed purchasing skincare products in a predominantly female branded space.
</p>
