<% provide(:title, 'About Us') %>

<div id="banner">
	<img src="<%= image_path "about-banner.jpg" %>" alt="About Banner" width="960" height="330" border="0" />
</div><!-- end banner -->

<div id="content">

<div class="left-nav">
		<h2>About Us</h2>
		<ul>
			<li><a href="/about/">Our Story</a></li>
			<li><a href="/about/values/">Our Values</a></li>
			<li><a href="/about/natural/">Why Natural?</a></li>
			<li><a href="/about/ingredients/">Our Ingredients</a></li>
			<li><a href="/about/team/">Our Team</a></li>
			<li><a href="/about/jobs/">Jobs</a></li>
		</ul>
		
	</div><!-- end left-nav -->
	
	<div class="about">
	<h1>About Us</h1>
	
	<h2>The Simplest Solution To Looking Your Best At All Times</h2>
	<p>Today, men are taking care of their skin beyond just washing with a bar of soap. As men, we are more conscious of our image and realize that there is no shame in taking care of ourselves. However, when it comes to buying skincare, many of us either feel like headless chickens in the cosmetic sections of retail stores or feel ashamed purchasing skincare products in a predominantly female branded space.</p>

	<p>Let's face it. There's nothing more dreadful as a man then entering the cosmetic aisles of shopping malls. There's hundreds of products in these aisles that all seem to have writing on them that look like a foreign language.</p>

	<p>Combine that with having to figure out which product works best for your skin type... Well one word sums this experience up. "Hell"</p>

	<p>Shield For Men exists to bring a totally new experience to buying skincare. Ease of selection of products, no more visiting cosmetic sections in department stores, and a quick painless checkout process. All without having the get in your car and drive to the cosmetic section of stores!</p>

	<p>Finally a product that understands a real mans needs!</p>
	
	<h2>When You Look Your Best, You Feel Your Best</h2>
	
	<p>It’s a man’s nature to want to look their best and make a lasting impression around the women and friends they meet.</p>

	<p>Remember the time when you were in that zone, where you felt nothing could get in your way? You have that sense of confidence when you know you’re looking your best. </p>

	<h2>Bad Skin Can Be Bad For Your Game</h2>
	
	<p>Ever had that day where looking your best was absolutely critical for an important event in your life, only to have an unexpected blemish, an ingrown hair, or a razor burn show up your face?</p>

	<p>Yes, us too.</p>

	<p>Your skin never responds the way you want it to, especially when you need it to the most. Skin is susceptible to a variety of lifestyle conditions such as: stress, irritation from shaving, pollution, weather changes, grease, hormones, you name it…</p>

	<p>When your skin’s acting up, it completely disorients you as a man, causing you to draw inward and feel self conscious. What’s worse is that if you leave your skin conditions untreated, it can result in permanent scarring, rashes, eczema and a multitude of other costly skin conditions.</p>

	<p>Combine that with the rising statistic of skin cancer each year, you’re left with a very unpretty picture. </p>
	
	<h2>Why Shield For Men?</h2>
	
	<p>Shield For Men is the brand for men who take looking their best seriously. We’ve combined only the best natural herbs, extracts, and essential oils to help systemically remedy your skin concerns and attack them at the core problem and not just the exterior. Many products promise to remedy your skin conditions using a variety of harmful chemicals to treat the skin at the exterior surface, only to have the conditions completely worsen or repeat itself in a cycle.</p>

	<p>Over 70% of women say that good skin hygiene is an important factor when in consideration of choosing a mate.</p>

	<p>Don’t you need the best skin product on the market for looking your absolute best?</p>

	<p>Join Other Men In Taking A Completely Holistic Approach To Looking Your Best At All Times.</p>

	</div><!-- end about -->
	<div class="clearfix"></div>
	</div><!-- end content -->
	<div class="clearfix"></div>