<div id="content">
	<div class="left-nav">
		<h2>Grooming Tips</h2>
		<ul>
			<li><a href="#">Grooming Tips</a></li>
			<li><a href="#">Our Videos</a></li>
		</ul>
		
	</div><!-- end left-nav -->
	
	<div class="grooming-content">
		<div id="post-wrapper">
		<div class="post single">
			<h1><a href="#">The Benefits Of Natural Skin Care</a></h1>
			<p class="in_post_thumbnail">
				<a href="#"><img src="<%= image_path "the-benefits-of-natural-skin-care.png" %>" alt="The Benefits of Natural Skin Care" width="150" height="150" border="0" /></a>
			</p>
			<div class="social-sharing" style="clear: right; float: left; width: 150px; overflow: hidden; margin: 8px 10px 0 10px;">

				<div id="fb_share_1" style="float: right; margin-left: 6px;"><a name="fb_share" type="box_count" share_url="http://www.shieldformen.com/grooming/the-benefits-of-natural-skin-care/" href="http://www.facebook.com/sharer.php">Share</a></div>
				<div><script src="<%= asset_path "FB.Share" %>" type="text/javascript"></script></div>

				<div class="tweet_button" style="float: right; margin-left: 8px;">
					<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
					<a href="http://twitter.com/share" class="twitter-share-button"
					 		data-url="http://www.shieldformen.com/grooming/the-benefits-of-natural-skin-care/"
							data-via="shieldformen"
							data-text="The Benefits Of Natural Skin Care"
							data-count="vertical">Tweet</a>

				</div>
			
			</div>
			<div class="post_content">
				<p>Caring for your skin doesn’t have to be complicated.</p>
				
				<p>Most skin care companies would have you believe that there are many different skin types that require complex regimens and dozens of bottles of their products to have your skin looking healthy and normal.</p>
				
				<p>They’ve come up with a variety of skin type names such as: “combination oily”, “combination dry”, “dehydrated oily”, “sensitive oily” and a handful more. The truth is most male skin types range somewhere in between slight dryness and a shiny T-zone. </p>
				
				<p>No matter what the industry will have you believe, we don’t really need all these different chemical products that treat every skin condition known to man. They tell you to use one certain product when blemishes form. And then turn around and try to sell you another product when your skins dry.</p>
				
				<p>Not only are these chemical products harmful for your overall health, but also applying such chemicals to your face daily can result in a permanent imbalance of your skin. </p>
				
				<p>Most bad skin conditions, such as dry &amp; flaky skin, acne, rashes, dermatitis and the like are generally caused by an imbalance of your skin. </p>
				
				<p>Rather than lathering such chemical based products that mask the symptoms, only to have your skin condition worsen over time. Try taking a more proactive approach by using a gentle all natural moisturizer & cleansing system that helps to bring your skin back to a healthy balance. This is the only true prevention system to natural, healthy looking skin.</p>
				
				<h2>The “Natural” Approach</h2>
				
				<p>I had to add this section in this post to make sure you guys were aware of the huge number of false “natural” products on the market today. </p>
				
				<p>Be careful of any product on the market touting itself as “natural”. The word “natural” is not what it seems. </p>
				<p>According to the FDA requirements, “natural” simply means that any ingredient used “has not been significantly altered from its original state, nor has anything been removed from it, nor have other substances been added to it.” Nowhere in this definition prohibits skin care companies from combining natural ingredients with the most harmful synthetic chemicals. This means that any company can use the word “natural” on their packaging just as long as they used one “natural” ingredient in the product. </p>
				
				<p>Become ingredient savvy and watch out for products that contain harsh synthetic chemicals and preservatives. Specifically watch out for ingredients such as propylene glycol, diethanolamine (DEA), triethanolamine (TEA), monoethanolamine (MEA), disodium EDTA, sodium laureth sulfate, and parabens. Such chemicals are known carcinogens and can be extremely unhealthy for you. Avoid products containing such harmful chemicals like the plague!</p>
				
				<h2>Keeping Skin Healthy</h2>
				
				<p>Now, I’m about to let you in an industry secret; perhaps an industry secret that might put every cosmetic company out of business. </p>
				
				<p>Here’s the secret. Our skin doesn’t really need any extra moisture to remain healthy. The human skin is an amazing organ that’s perfectly able to keep itself completely hydrated. On a daily basis, our skin produces something called sebum and a natural moisturizing factor (NMF) that allows us to keep the surface of our skin soft and nourished.</p>
				
				<p>However, through the birth of modern cosmetic companies, somehow sebum became the prime evil suspect of most bad skin conditions. Skin experts would have you believe that the only way to having clear, healthy skin is to strip your face of all naturally occurring sebum. </p>
				
				<p>They explain that it’s through the production of sebum and mixed bacteria buildup that eventually cause acne breakouts and blemishes. </p>
				
				<p>However, using such harsh chemical cleansers on your skin completely disrupts our skins natural ability to keep itself healthy causing more problems and skin condition issues further down the line. </p>
				
				<p>So you may ask, “Why use any skin care product at all?”</p>
				
				<p>That’s a good question. The answer is simply that our skin does need some assistance in keeping itself in balance. </p>
				
				<p>Due to the stress in our lifestyle, food we eat, pollution in the air and a variety of other factors, our skin is having a harder time then ever before keeping itself balanced. Using a gentle natural cleanser & moisturizing system such as Shield For Men’s Wash + Protect, Shield & Moisturize, will keep your skin looking its best at all times without the use of all those pesky synthetic chemicals that constantly dry out your skin and cause health problems.</p>
				
				
				
				<h2>The Bottom Line</h2>
				
				<p>Take a holistic, natural approach to looking your best. Opt-in to use a natural, organic cleansing & moisturizing system to keep your skin looking its best without the use of harmful synthetic chemicals that strip and damage your beneficial skin cells. </p>
				
				<p>Help spread the word, and become a more conscious buyer of the products on the market today!</p>
			
			</div><!-- end post_content -->
		</div><!-- end post-->
		</div><!-- end post-wrapper -->
		
	<div class="clearfix"></div>
	</div><!-- end grooming-content -->
	<div class="clearfix"></div>
</div><!-- end content -->
<div class="clearfix"></div>