<div id="content">
<font size=+1 face=arial> 
<b>Card Verification Number<br><br> 
</font> 
 
<table width=400 cellpadding=10> 
<tr><td colspan=2> 
<font face=arial size=-1> 
For your safety and security, Shield For Men requires that you enter your card's verification number. The verification number is a 3-digit (Visa/MC/Disc) or 4-digit (American Express) printed on your card.<br> 
</td</tr> 
<tr> 
<td> 
<br/>
<b> 
<font face=arial size=-1> 
Using Visa/MasterCard/Discover? The Verification Number is the 3-digit number printed on the back of your card<br><br> 
<img src="<%= image_path "cv_card.gif" %>"><br><br><center>Visa/MasterCard/Discover<br>3 Digit
</td> 
<td>
<br/>
<b> 
<font face=arial size=-1> 
Using American Express? The Verification Number is the 4-digit number printed on the front of your card<br><br><center> 
<img src="<%= image_path "cv_amex_card.gif" %>"> 
<Center><Br>American Express<br>4 Digit
</td> 
</tr> 
</table>
</div>