<div id="content">
	<div class="left-nav">
		<h2>Grooming Tips</h2>
		<ul>
			<li><a href="#">Grooming Tips</a></li>
			<li><a href="#">Our Videos</a></li>
		</ul>
		
	</div><!-- end left-nav -->
	
	<div class="grooming-content">
		<div id="post-wrapper">
		<div class="post single">
			<h1><a href="#">Why Do Men Need Cleansers?</a></h1>
			<p class="in_post_thumbnail">
				<a href="#"><img src="<%= image_path "why-do-men-need-cleansers.png" %>" alt="Why Do Men Need Cleansers?" width="150" height="150" border="0" /></a>
			</p>
			<div class="social-sharing" style="clear: right; float: left; width: 150px; overflow: hidden; margin: 8px 10px 0 10px;">"

				<div id="fb_share_1" style="float: right; margin-left: 6px;"><a name="fb_share" type="box_count" share_url="http://www.shieldformen.com/grooming/why-do-men-need-cleansers/" href="http://www.facebook.com/sharer.php">Share</a></div>
				<div><script src="<%= asset_path "FB.Share" %>" type="text/javascript"></script></div>

				<div class="tweet_button" style="float: right; margin-left: 8px;">
					<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
					<a href="http://twitter.com/share" class="twitter-share-button"
					 		data-url="http://www.shieldformen.com/grooming/why-do-men-need-cleansers/"
							data-via="shieldformen"
							data-text="Why Do Men Need Cleansers?"
							data-count="vertical">Tweet</a>
				</div>
			
			</div>
			<div class="post_content">
				<p>City lifestyles can be extremely harmful to your skin. All of the dust, grime, smoke, dirt and dried sweat can challenge even the healthiest of skin types.
				</p>
				
				<p>When these particles pile up on the outer layer of your skin, it begins to clog your pores and form a sticky film layer that can cause a multitude of skin problems.</p>
				
				<p>The result of this sticky film layer is a congestion that forms deep under your skin’s surface, which results in formations of black and white heads, acne, uneven skin complexions, and even more serious skin conditions.</p>
				
				<p>When we cleanse our face, we get rid of this daily grime, dead skin cells and oxidized sebum.</p>
				
				<p>The trick is to choose a gentle cleanser formulated without the use of harmful sulfates, detergents, synthetic preservatives or synthetic fragrances.</p>
				
				<h2>Picking The Right Cleanser</h2>
				
				<p>Many products on the market today tout itself as blemish busting cleansers, but generally most of these cleansers contain abrasive scrubbing particles that can cause greater skin irritation when used on skin with sunburns, rashes or acne.</p>
				
				<p>Avoid any cleanser that states itself as being a deep pore cleansing agent for daily use. Your skin shouldn’t feel astringent and tight upon using a good cleanser. </p>
				
				<p>An effective daily cleanser washes off the grime and dirt off your skin without leaving your skin completely stripped of its natural sebum layer.</p>
				
				<p>Look for natural cleansers with foaming agents made from decyl glucosider, cocoglucoside, luryl lysine or sarcosine and betaine, instead of the dangerous synthetic foaming agents such as sodium laureth sulfate. Sodium Laureth Sulfate has been a known agent that is used in car engine degreases, car soaps, garage floor cleaning agents and the like.</p>
				
				<p>Click here to read more about the harmful effects of sodium laureth sulfate.
				<a href="http://www.healthy-communications.com/slsmostdangerousirritant.html" target="_blank">http://www.healthy-communications.com/slsmostdangerousirritant.html</a>
				</p>
				
				<h2>Cleanse Twice A Day</h2>
				
				<p>You may be wondering, “How often should I wash my face?” </p>
				
				<p>Try to wash your face at least twice a day. Once in the morning and once before you go to bed. </p>
				
				<p>Work the cleanser of your choice in circular motions under warm water, starting with your forehead and moving down to your cheeks and nose. After working up a lather, gently wash off the cleanser and pat your face dry with a towel.</p>
				
				<p>This whole process hardly takes 10 second and makes a huge difference on the quality of your skin!</p>
				
				<p>For a natural gentle cleanser that doesn’t dry your skin out, check out our <a href="http://www.shieldformen.com/browse/skincare/Wash+Protect/1">Shield For Men Wash + Protect</a> line.</p>
				
			</div><!-- end post_content -->
		</div><!-- end post-->
		</div><!-- end post-wrapper-->
	<div class="clearfix"></div>
	</div><!-- end grooming-content -->
	<div class="clearfix"></div>
</div><!-- end content -->
<div class="clearfix"></div>
