<% provide(:title, 'Grooming Products For Men') %>

<h1>Take Your Lifestyle To The Next Level!</h1>
<p>
	Imagine a lifestyle where you could look your personal best, feel confident at all times, attract the people you desire, and get that promotion or job you've always been searching for.
</p>
