<% provide(:title, 'Our Ingredients') %>

<div id="banner">
	<img src="<%= image_path "about-banner.jpg" %>" alt="About Banner" width="960" height="330" border="0" />
</div><!-- end banner -->


<div id="content">
	<div class="left-nav">
		<h2>About Us</h2>
		<ul>
			<li><a href="/about/">Our Story</a></li>
			<li><a href="/about/values/">Our Values</a></li>
			<li><a href="/about/natural/">Why Natural?</a></li>
			<li><a href="/about/ingredients/">Our Ingredients</a></li>
			<li><a href="/about/team/">Our Team</a></li>
			<li><a href="/about/jobs/">Jobs</a></li>
		</ul>
		
	</div><!-- end left-nav -->
	
	<div class="about">
	<h1>Our Ingredients</h1>
	
	<div class="glossary">
	<table class="bordered" border="0" cellspacing="0" cellpadding="0"> 
	<thead> 
	<tr> 
	<th width="137" valign="top">Ingredient</td> 
	<th width="137" valign="top">What It Is</td> 
	<th width="137" valign="top">Benefits</td> 
	</tr> 
	</thead> 
	<tbody> 
	<tr> 
	<td width="137" valign="top"><strong>Aloe Vera</strong></td> 
	<td width="137" valign="top">Extracted from a desert growing succulent plant, beneficial vitamins, minerals, enzymes, amino acids and natural sugars all of which are known to reduce inflammation.</td> 
	<td width="137" valign="top">Soothing, rejuvenating, moisturizing, antibacterial protects and softens skin.</td> 
	</tr> 
	<tr class="evenRow"> 
	<td width="137" valign="top"><strong>Cedarwood Essential Oil</strong></td> 
	<td width="137" valign="top">Extracted from a tree native to North America. </td> 
	<td width="137" valign="top">Has many therapeutic properties. Best known for its regenerative properties and cleansing effects. Also curative for cellulite, hair and scalp disorders. Confidence building, comforting and reviving.</td> 
	</tr> 
	<tr> 
	<td width="137" valign="top"><strong>Cocamidopropyl Betaine</strong></td> 
	<td width="137" valign="top">Surfactant derived from coconut oil.</td> 
	<td width="137" valign="top">An emulsifying agent and thickener used to reduce irritation and has antiseptic properties.</td> 
	</tr>
	<tr class="evenRow"> 
	<td width="137" valign="top"><strong>Coconut Oil</strong></td> 
	<td width="137" valign="top">Oil produced from the squeezing of the Coconut kernel. </td> 
	<td width="137" valign="top">Has many known health benefits. Improved metabolism, increased immunity, aids in proper digestion. Naturally antioxidant rich oil good for dry, itchy or sensitive skin.</td> 
	</tr>
	<tr> 
	<td width="137" valign="top"><strong>Citric Acid</strong></td> 
	<td width="137" valign="top">Naturally occurring acid in citrus fruits such as lemons and limes. Contains Vitamin C and has a high pH.</td> 
	<td width="137" valign="top">Primarily a pH adjuster, used to maintain consistent pH levels.</td> 
	</tr>
	<tr class="evenRow"> 
	<td width="137" valign="top"><strong>Decyl Glucoside</strong></td> 
	<td width="137" valign="top">Biodegradable mild foaming surfactant sourced from glucose and corn.</td> 
	<td width="137" valign="top">Creates  a rich foam base that helps to solubilize oils from hair and skin so they can be rinsed away. </td> 
	</tr>
	<tr> 
	<td width="137" valign="top"><strong>Grapeseed Oil</strong></td> 
	<td width="137" valign="top">Vegetable Oil Pressed from the seed of various varieties of grapes.</td> 
	<td width="137" valign="top">Mostly used as a carrier oil for essential oils and also as a lubricant in shaving.</td> 
	</tr>
	<tr class="evenRow"> 
	<td width="137" valign="top"><strong>Green Tea Extract</strong></td> 
	<td width="137" valign="top">Antioxidant rich. Contains amino acid Theanine, an anti-aging powerhouse.</td> 
	<td width="137" valign="top">Soothes and calms skin. Antioxidant, and anti-inflammatory.</td> 
	</tr>
	<tr> 
	<td width="137" valign="top"><strong>Hyaluronic Acid</strong></td> 
	<td width="137" valign="top">A naturally found substance in our human bodies. Our bodies lose the ability to produce effective amounts of hyaluronic acid as we age.</td> 
	<td width="137" valign="top">Often touted as the ingredient in the “fountain of youth”. Hyaluronic Acid is a natural component of body’s connective tissues, and joint fluid. As men age, hyaluronic acid production decreases. Smoking and drinking can also affect your body’s level of hyaluronic acid over time leading to premature aging. Hyaluronic acid is the key ingredient in our products to treat prematurely aged skin and prevent wrinkles.</td> 
	</tr>
	<tr class="evenRow"> 
	<td width="137" valign="top"><strong>Palm Stearic Acid</strong></td> 
	<td width="137" valign="top">Occurs naturally in vegetables. 100% Palm derived.</td> 
	<td width="137" valign="top">Used to emulsify, thicken, bind and stabilize lotions and creams.</td> 
	</tr>
	<tr> 
	<td width="137" valign="top"><strong>Patchouli Essential Oil</strong></td> 
	<td width="137" valign="top">Obtained from the dried leaves of the plant. </td> 
	<td width="137" valign="top">Patchouli oil is used to heal: acne, dermatitis, eczema, fungal and bacterial infections, inflamed skin, scars, sores, stretch marks and wrinkles. </td> 
	</tr>
	<tr class="evenRow"> 
	<td width="137" valign="top"><strong>Phenoxyethanol & Tetrasodium Edta</strong></td> 
	<td width="137" valign="top">Paraben free preservative.</td> 
	<td width="137" valign="top">Safest and most healthful preservation to protect products from spoiling.</td> 
	</tr>
	<tr> 
	<td width="137" valign="top"><strong>Rosewood Essential Oil</strong></td> 
	<td width="137" valign="top">Extracted from a native Brazilian plant. </td> 
	<td width="137" valign="top">Best used on mature, wrinkled, sensitive, and acneic skin. </td> 
	</tr>
	<tr class="evenRow"> 
	<td width="137" valign="top"><strong>Tea Tree Oil</strong></td> 
	<td width="137" valign="top">Extracted from boiling leaves of the tea tree.</td> 
	<td width="137" valign="top">A magical ingredient that is known to have medicinal effects on: acne, burns, rashes, skin immune deficiencies, and sebum regulation for oily skin.</td> 
	</tr>
	<tr> 
	<td width="137" valign="top"><strong>Vitamin A</strong></td> 
	<td width="137" valign="top">Essential in skin care products. </td> 
	<td width="137" valign="top">Potent skin renewal agent, improves skin texture and soothes fine lines and wrinkles. </td> 
	</tr>
	<tr class="evenRow"> 
	<td width="137" valign="top"><strong>Vitamin B</strong></td> 
	<td width="137" valign="top">Another essential ingredient in skin care products.</td> 
	<td width="137" valign="top">Improves skins ability to retain moisture and known to reduce fine lines.</td> 
	</tr>
	<tr> 
	<td width="137" valign="top"><strong>Vitamin E</strong></td> 
	<td width="137" valign="top">Obtained by the distillation of vegetable oils.</td> 
	<td width="137" valign="top">Acts as a natural preservative and known to provide uv radiation protection. </td> 
	</tr>
	<tr class="evenRow"> 
	<td width="137" valign="top"><strong>Vegetable Glycerin</strong></td> 
	<td width="137" valign="top">Derived naturally from plant oils, great for people with sensitive skin.</td> 
	<td width="137" valign="top">Will not cause breakouts, and will not hurt oily skin. </td> 
	</tr>
	<tr> 
	<td width="137" valign="top"><strong>Xanthan Gum</strong></td> 
	<td width="137" valign="top">Complex sugar developed in the 1960’s for use in food. </td> 
	<td width="137" valign="top">Leaves a smooth, conditioned and hydrated feeling to your skin.</td> 
	</tr>
	<tr class="evenRow"> 
	<td width="137" valign="top"><strong>Ylang Ylang Essential Oil</strong></td> 
	<td width="137" valign="top">Distilled from the Cananga tree’s greenish-yellow flowers.</td> 
	<td width="137" valign="top">Best used for blemished, dry, mature, normal-combination, oil-rich, and stressed skin. Used to treat: acne, broken capillaries, scars, and varicose veins.</td> 
	</tr>
	</tbody> 
	</table>
	</div><!-- end glossary -->
	</div><!-- end about -->
	<div class="clearfix"></div>
</div><!-- end content -->
<div class="clearfix"></div>