<% provide(:title, 'Jobs') %>

<div id="banner">
	<img src="<%= image_path "about-banner.jpg" %>" alt="About Banner" width="960" height="330" border="0" />
</div><!-- end banner -->


<div id="content">
	<div class="left-nav">
		<h2>About Us</h2>
		<ul>
			<li><a href="/about/">Our Story</a></li>
			<li><a href="/about/values/">Our Values</a></li>
			<li><a href="/about/natural/">Why Natural?</a></li>
			<li><a href="/about/ingredients/">Our Ingredients</a></li>
			<li><a href="/about/team/">Our Team</a></li>
			<li><a href="/about/jobs/">Jobs</a></li>
		</ul>
		
	</div><!-- end left-nav -->
	
	<div class="about">
	<h1>Jobs</h1>
	<h2>Why Work At Shield For Men?</h2>
	
	<p>Shield For Men is a growing company with a culture that strives to bring solutions to the problems the modern man faces. We’re still a very small team, which means that everyone who joins now will have the opportunity to help steer the ship in the right direction. You’ll get to work alongside some of the most creative, fun and talented people.  Apply now!</p>
	
	<h2>Culture &amp; Workplace</h2>
	<p>As a culture, we’re committed to helping men feel good, look good and get the most out of their lifestyle.  We like to dig deep and find answers to the problems every modern man faces today. As a team, we value and respect everyone’s unique talents. Each person brings something unique to the table that helps form the awesome team that we have today.</p>

	<h2>Benefits</h2>
	<ul>
		<li>Exciting, Challenging Work</li>
		<li>Xbox, Wii</li>
		<li>Fun Team Events</li>
		<li>Unlimited Coke/Coffee</li>
	</ul>

	</div><!-- end about -->
	<div class="clearfix"></div>
</div><!-- end content -->
<div class="clearfix"></div>