<div id="content">
	<div class="left-nav">
		<h2>Grooming Tips</h2>
		<ul>
			<li><a href="#">Grooming Tips</a></li>
			<li><a href="#">Our Videos</a></li>
		</ul>
		
	</div><!-- end left-nav -->
	
	<div class="grooming-content">
		<div id="post-wrapper">
		<div class="post single">
			<h1><a href="#">Do Real Men Use Moisturizers?</a></h1>
			<p class="in_post_thumbnail">
				<a href="#"><img src="<%= image_path "do-real-men-use-moisturizers.png" %>" alt="Do Real Men Use Moisturizers" width="150" height="150" border="0" /></a>
			</p>
			<div class="social-sharing" style="clear: right; float: left; width: 150px; overflow: hidden; margin: 8px 10px 0 10px;">

				<div id="fb_share_1" style="float: right; margin-left: 6px;"><a name="fb_share" type="box_count" share_url="http://www.shieldformen.com/grooming/do-real-men-use-moisturizers/" href="http://www.facebook.com/sharer.php">Share</a></div>
				<div><script src="<%= asset_path "FB.Share" %>" type="text/javascript"></script></div>

				<div class="tweet_button" style="float: right; margin-left: 8px;">
					<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
					<a href="http://twitter.com/share" class="twitter-share-button"
					 		data-url="http://www.shieldformen.com/grooming/do-real-men-use-moisturizers/"
							data-via="shieldformen"
							data-text="Do Real Men Use Moisturizers?"
							data-count="vertical">Tweet</a>
				</div>
			
			</div>
			<div class="post_content">
				<p>No matter what your age or current skin condition, a good moisturizer can always keep you looking your best. 
				</p>
				
				<p>A moisturizer can serve more purposes than just keeping your skin hydrated.</p>
				
				<p>For men with oily, blemish-prone skin, a good moisturizer delivers antibacterial agents to prevent your skin from further annoying breakouts.</p>
				
				<p>For men with mature, wrinkle-prone skin, a moisturizer worth its money can add that extra dose of antioxidants and fine line relaxing active ingredients to prevent the formation of wrinkles.</p>
				
				<p>And all men can benefit from moisturizers that contain vitamins, minerals and oils that provide UV-radiation protection from the sun.</p>
				
				<h2>How Does A Moisturizer Work?</h2>
				
				<p>In general, moisturizers form a thin film over your skin that helps prevent unnecessary water loss form the epidermis.</p>
				
				<p>Every day the human body can lose up to one pint of water through our skin’s pores through daily activity. A moisturizer is extremely important to maintain the skin’s protective barrier. It helps increase water content, reduce water loss, and preserve the skin’s youthful appearance. </p>
				
				<p>And let’s be honest. Who doesn’t want to look younger these days? </p>
				
				<p>A moisturizer worth its weight also hydrates skin by providing water directly to the skin.</p>
				
				<h2>What Do I Look For In A Good Moisturizer?</h2>
				
				<p>If your skin’s prone to blemishes and acne, look for ingredients such as green tea oil, zinc oxide or various plant extracts that contain antibacterial effects. Such ingredients are powerful blemish busters without throwing off your skins balance.</p>
				
				<p>If you’re on the prowl to prevent premature aging, be on the lookout for active ingredients such as green tea extracts and hyaluronic acid. These ingredients act as powerful preventers of premature aging as well as reverse damage done to our skins through the years.</p>
				
				<p>Also, antioxidants such as Vitamins A, C, and E, and pomegranate extracts are good as general skin renewal and skin texture agents. </p>
				
				<p>In general, many active ingredients have a synergistic effect and can provide a combined effect that is greater than the individual parts by themselves.</p>
				
				<p>As a caution, avoid ingredients such as propylene glycol and disodium EDTA and other synthetic chemicals and fragrances like the plague. These are known harmful chemicals and should not belong in any good moisturizer!</p>
				
				<p>Check out our <a href="http://www.shieldformen.com/browse/skincare/Moisturize+Shield/2">Shield For Men Moisturize + Shield</a> line for a complete natural moisturizer that is the most complete skincare product on the market for men today without the use of harmful chemicals and synthetic preservatives. </p>
				
			</div><!-- end post_content -->
		</div><!-- end post-->
		<div class="clearfix"></div>
		</div><!-- end post-wrapper -->
		
	</div><!-- end grooming-content -->
	<div class="clearfix"></div>
</div><!-- end content -->
<div class="clearfix"></div>