<% provide(:title, 'Why Natural?') %>

<div id="banner">
	<img src="<%= image_path "about-banner.jpg" %>" alt="About Banner" width="960" height="330" border="0" />
</div><!-- end banner -->


<div id="content">
	<div class="left-nav">
		<h2>About Us</h2>
		<ul>
			<li><a href="/about/">Our Story</a></li>
			<li><a href="/about/values/">Our Values</a></li>
			<li><a href="/about/natural/">Why Natural?</a></li>
			<li><a href="/about/ingredients/">Our Ingredients</a></li>
			<li><a href="/about/team/">Our Team</a></li>
			<li><a href="/about/jobs/">Jobs</a></li>
		</ul>
		
	</div><!-- end left-nav -->
	
	<div class="about">
	<h1>Why Organic and Natural?</h1>
	
	<p>Most grooming products on the market use harsh chemicals and strong preservatives that over time can worsen your overall health and skin conditions. The ingredients in most lotions, shampoos, cleansers, deodorants, and other household items are loaded with allergens, skin irritants, and cancer-causing agents. The most alarming fact is that the amount of synthetic chemicals in use today has doubled twofold in the last decade! Today there are more than 100,000 chemicals used in household products and a surprising 5% of these chemicals have actually been tested for long-term impact on the human health.</p>
	
	<h2>Cosmetic and Grooming Companies As They Exist Today</h2>
	<p>Cosmetic and grooming companies are not regulated by government agencies as one might think. Every other industry is heavily regulated including the drug and food industries. But the same companies that manufacture cosmetic products regulate the safeness of their products released to the market.</p>
	
	<h2>What Are Some Common Chemicals Being Use That I Should Avoid?</h2>
	<ul>
		<li><strong>Parabens</strong> - commonly known as preservatives, used in almost all cosmetic products today, can be cancer-causing and leads to skin irritation.</li>
		<li><strong>Phalates</strong> - in about 80 percent of products today, its what causes fragrances and products to smell good, can cause reproductive issues.</li>
		<li><strong>Aluminum</strong> - found in common deodorants, when entered into our bloodstream, alters proper function of the blood brain barrier, also known to contribute to cancer and Alzheimer’s disease.</li>
		<li><strong>Propylene Glycol, Ethylene Glycol, Polyethylene Glycol</strong> - found in most shampoos, deodorants, and washes, causes allergic dermatitis and many other known skin irritations.</li>
		<li><strong>Synthetic Fragrances</strong>  - found in almost all products, causes respiratory diseases and allergies.</li>
		<li><strong>1,4 Dioxane</strong> - found in many shampoos, cancer causing.</li>
	</ul>
	
	<h2>What About Different Skin Types?</h2>
	
	<p>Today, cosmetic industries have come up with all sorts of different terminologies for different skin types. (Combination oily, Oily, Sensitive, Dry) However, a slight dryness around the edges and oiliness around the T-Zone (the area starting between your eyebrows that extends all the way down your nose) are perfectly natural. Healthy skin is possible, but it cannot be achieved by quick fixes introduced to us by the cosmetic industries. </p>
	<br/>
	<p>Men today, wait till skin conditions are at its worst, then apply harsh chemicals to try and solve their acne and dry skin conditions, only to throw the balance of their skin way off. Here’s the real truth. Our skin is able to naturally keep itself hydrated as long as we help a naturally producing agent called sebum in balance on our skin. Sebum, a clear waxy substance made of lipids, acts as a natural emollient and barrier. It’s when this natural barrier becomes weak that our skin becomes dry and cracked or off-balance. Most skincare companies promote products that end up stripping this natural layer of sebum. Shield For Men products are gentle, natural, organic products that help restore balance to your skin’s natural moisturizing and re-generative properties.</p>
	
	<h2>Improve Your Health, Well-being and your Skin</h2>
	
	<p>Skin is like any other organ in our body and ends up eating whatever we feed it. Skin has been known to absorb up to 60 percent of the substances applied to it. Any organic product you choose should work to assist your body in managing its natural proteins.</p>
	<br/>
	<p>Shield For Men products have been specifically formulated to match the proteins and substances found naturally on men’s skin. Our bodies are amazing systems with incredible healing powers. Make the smart choice today; it’s never too late to do your best to reduce your chances of developing devastating health conditions.</p>
	
	
	</div><!-- end about -->
	<div class="clearfix"></div>
</div><!-- end content -->
<div class="clearfix"></div>
