<div id="content">  
			
	<div class="final-checkout">
	<h2>Privacy Policy</h2>
	<div class="checkout-wrapper">
		<p>Shield For Men does not send Spam or sell email addresses.. This Privacy Policy describes how we treat the information we collect when you visit our web sites and/or received any emails from Shield For Men.</p>
		<hr />
		<ol>
			<li><strong>YOUR PERSONAL INFORMATION COLLECTED BY SHIELD FOR MEN.</strong><br/>
			In order to send you e-mail from Shield For Men (if any), we need your e-mail address. To provide you with additional services, we may also request your name, geographical coordinates, and telephone number. Shield For Men does not collect any other personal information that you do not expressly provide. Shield For Men will not sell, rent or share your personal information, including your e-mail address, with any third parties for marketing purposes without your express permission. Shield For Men may share your personal information for the purpose of delivering our e-mail to you or as required by law. Though we make every effort to preserve user privacy, Shield For Men may need to disclose personal information when required by law and when we have a good faith belief that such action is necessary to comply with a current judicial proceeding, a court order or legal process that Shield For Men receives. We may also collect demographic and other data, which may include Personally Identifiable Information, generally through surveys and forms which you may or may not choose to participate in. If you place an order for goods or services through Shield For Men, you may be required to enter your credit card number and information, as well as your shipping address and/or other contact information.
			</li>
			<li><strong>NON-PERSONAL INFORMATION.</strong><br/>
			We may also request non-personally identifiable information, such as buying preferences, or age, also known as demographic and profile data, though this information is optional. We may use this data to improve our website and/or customize your experience at our site, showing you content that we think you might be interested in, and displaying content according to your preferences. We may also share this information with others, such as advertisers interested in on our site, in aggregate, anonymous form, which means that the information will not contain any personally identifiable information about you or any other person.
			</li>
			<li><strong>PROFILE PAGE.</strong><br/>
			If you choose to sign up for a free Shield For Men account (either to purchase products or services, or to enter participate in member only areas on the site), you may have a Profile page on the site, containing your username and some basic information related to demographics and your creative interests . You may also add additional optional information to your Profile. You may control what type of Profile information is shown to others through your Account Settings. Links to your Profile Page may be included on other Shield For Men pages. If you send a message to a Shield For Men user through a future Shield For Men internal Messages feature, that person may be informed of your email address. PLEASE NOTE THAT, REGARDLESS OF WHAT PERSONAL INFORMATION A MEMBER CHOOSES TO INCLUDE IN HIS OR HER PROFILE, OR WHAT PRIVACY PREFERENCES HE OR SHE CHOOSES, CERTAIN INFORMATION ABOUT EACH MEMBER WILL BE INCLUDED IN THAT MEMBER'S PUBLIC PROFILE AND MAY BE ACCESSIBLE TO ANYONE VISITING THAT PROFILE PAGE ON THE SHIELD FOR MEN WEBSITE.
			</li>
			<li><strong>PUBLIC FORUMS REMINDER.</strong><br/>
			This site often makes chat rooms, forums, message boards, and/or news groups available to its users. Please remember that any information that is disclosed in these areas becomes public information. Exercise caution when deciding to disclose your personal information. Although we value individual ideas and encourage free expression, Shield For Men reserves the right to take necessary action to preserve the forum's integrity, such as removing any posting that is vulgar, off-topic, or inappropriate.
			</li>
			<li><strong>USAGE INFORMATION.</strong><br/>
			In addition to collecting personal and non-personal information, Shield For Men may also collect non-personal, aggregated information about subscribers' use of our site. This information is not personally identifiable and will only be used to find out how subscribers use our service and site. For example, this information will tell us how much time users spend on our site, from which other sites subscribers came, and to what other sites subscribers go. The collection of this information allows us to, among other things, prepare for traffic load demands and to efficiently deliver relevant information.
			</li>
			<li><strong>PERSONALLY IDENTIFIABLE INFORMATION COLLECTED BY SHIELD FOR MEN'S BUSINESS PARTNERS.</strong><br/>
			Shield For Men may work with third-party advertising companies, sponsors and other companies with whom we do business ("Business Partners") to place advertising on our site and in email communications sent to our registered users regarding Shield For Men services. Information about your visit to this site, such as number of times you have viewed an ad, may be used to serve advertising to you on this site.<br/>
			<p>Shield For Men may correlate or match registered Users' information, including Personally Identifiable Information, with information held by our Business Partners to target ads or otherwise improve the effectiveness of our service. Our Business Partners may read or set cookies on your hard drive, use pixel tags, track which ads you have viewed, or collect other information about you.</p><br/>

			<p>From time to time, Shield For Men may also have special offers or promotions that are sponsored by a Business Partner. In order to participate in these offers, you may be required to follow a separate registration process. If you consent to receive information from a Business Partner, through an opt-in or opt-out process, Shield For Men may pass your information to such Business Partner.</p><br/>

			<p>Shield For Men may also offer goods or services for purchase available by our Business Partners. If you purchase goods or services offered through Shield For Men by a Business Partner, then you may be required to submit Personally Identifiable Information in order to complete the transaction and Shield For Men may provide your Personally Identifiable Information to such Business Partner for that purpose.
			</p><br/>
			<p>In some cases, we may enter into a promotional relationship with a Business Partner in which we prominently display their brand name or trademarks on pages that appear the same as or very similar to the pages of the Shield For Men service. These pages are known as "Co-Branded Pages" and these particular Business Partners are known as "Co-Branded Business Partners." If the page on which you submit information is a Co-Branded Page, or was accessed by clicking on a link on a Co-Branded Page, then we may share your personal information with the associated Co-Branded Business Partner. Co-Branded Business Partners may use your personal information in accordance with their own privacy policies. Shield For Men disclaims all liability for the privacy policies and procedures on any Business Partner or Co-Branded Business Partner Web site. You will need to contact the Co-Branded Business Partner to instruct them directly regarding your preferences for the use of your personal information by them. Additionally, you agree that we may use and disclose all such information so submitted to such Co-Branded Business Partners in the same manner in which we are entitled to use and disclose any other information you submit to us (see Use of Your Personally Identifiable Information by Business Partners below).</p><br/>
			</li>
			<li><strong>REVIEW AND ACCESS.</strong><br/>
			Upon your request, you can access a summary of the information we collect about you. You will have an opportunity to correct, update or modify this information.
			</li>
			<li><strong>CHOICE/OPT-OUT.</strong><br/>
			If we ever send you information by e-mail concerning new products or services that you did not expressly request, we will provide you with an e-mail address by which you may request no future notices.
			</li>
			<li><strong>TRACKING.</strong><br/>
			Like most sites, Shield For Men may make use of browser "cookies." Cookies are strings of text and numbers that can identify your computer to us when you visit our site. They allow us to see if you have logged in, check your status as a member, and facilitate access to your preferences. Shield For Men will not use cookies to retrieve information from a computer that is unrelated to our site or services. Shield For Men may also use transparent GIF images. We would use these images to track the e-mails that we send out.
			</li>
			<li><strong>IP ADDRESS.</strong><br/>
			When you visit our site, we log standard information such as your IP address, which is a number that can be used to identify your location and Internet Service Provider, along with the URL from which you came to our site and the URLs visited on our site. A URL is the full address of a Web site page, which may or may not contain some Personally Identifiable Information about the person who is viewing it.<br/>
			<p>When we send messages to you or others, we may provide a URL link to the Shield For Men site that contains an alphanumeric identifier, which allows us to identify the person to whom we sent the message so that we can personalize our content for that individual.</p>
			</li>
			<li><strong>THIRD PARTY COOKIES.</strong><br/>
			In the course of serving advertisements to this site, our third-party advertisers may place or recognize a unique cookie on your browser.
			</li>
			<li><storng>THIRD PARTY ADVERTISING.</strong><br/>
			Some of the ads appearing on our website may be delivered by one of our advertising partners. Information about your visit to their sites, such as number of times you have viewed an ad (but not your name, address, or other personal information), may be used to serve ads to you.
			</li>
			<li><strong>BUSINESS TRANSITIONS.</strong><br/>
			In the event Shield For Men goes through a business transition, such as a merger, acquisition by another company, or sale of a portion of its assets, users' personal information will, in most instances, be part of the assets transferred.
			</li>
			<li><strong>LINKS TO OTHER SITES.</strong><br/>
			As part of the services we provide, Shield For Men may create links allowing you to access third party sites. Shield For Men is not responsible for the content that appears on those sites and does not endorse these sites. Please consult those sites' individual privacy policies in order to determine how they treat user information.
			</li>
			<li><strong>SECURITY.</strong><br/>
			All information described above is stored on restricted database servers.
			</li>
			<li><strong>CHANGES TO THIS POLICY.</strong><br/>
			Shield For Men reserves the right to change this policy from time to time. If we do make changes, the revised Privacy Statement will be posted on this site.
			</li>
			<li><strong>CONTACT US.</strong><br/>
			If you have any questions about this policy or our site in general, please contact us at info [at] Shield For Men [dot] com.
			</li>
		</ol>
		
		<br />
		<div class="clearfix"></div>
		
	</div><!-- end sc-wrapper -->
	</div><!-- end shopping-cart -->
	
	
	
</div><!-- end content -->
		
<div class="clearfix"></div>