<div id="content">  
			
	<div class="final-checkout">
	<h2>Shipping &amp; Return Policy</h2>
	<div class="checkout-wrapper">
	
	<p>When you place an order with Shield For Men, we guarantee to take the time to carefully package and ship your products to you.</p>
	<br/>
	<p><em>Shipping Rates &amp; Times</em><br/>
	All orders are sent using USPS. Delivery times are dictated to us by USPS and are approximate. They are shipped at regular parcel rate. Shipping rates are subject to change based on ongoing postal rate adjustments.
	</p>
	<br/>
	<p>All shipping rates are based on orders for the amount of the final total of products ordered. For all orders within the U.S. your shipping quote will be calculated automatically.</p>
	<br/>
	<p><strong>WE CAN ONLY ACCEPT U.S. ORDERS AT THIS TIME. WE APOLOGIZE FOR THE INCONVENIENCE.</strong></p>
	
	<h3>Return Policy</h3>
	
	<p>With our uncompromising commitment to quality ingredients, we know you will be happy with your purchase. In the event that you are not happy with your purchase, please email us at <a href="mailto:returns@shieldformen.com">returns@shieldformen.com</a> and send the product back to the address below:</p>
	<br/>
	
	<p>If you need any more information or have concerns please email us at <a href="mailto:info@shieldformen.com">info@shieldformen.com</a>. We love to hear any feedback you may have so that we can continue to improve our customer service to you.</p>
		
		<br />
		<div class="clearfix"></div>
		
	</div><!-- end checkout-wrapper -->
	</div><!-- end final-checkout -->
	
	
	
</div><!-- end content -->

<div class="clearfix"></div>