<% provide(:title, 'Our Team') %>

<div id="banner">
	<img src="<%= image_path "about-banner.jpg" %>" alt="About Banner" width="960" height="330" border="0" />
</div><!-- end banner -->

<div id="content">
	<div class="left-nav">
		<h2>About Us</h2>
		<ul>
			<li><a href="/about/">Our Story</a></li>
			<li><a href="/about/values/">Our Values</a></li>
			<li><a href="/about/natural/">Why Natural?</a></li>
			<li><a href="/about/ingredients/">Our Ingredients</a></li>
			<li><a href="/about/team/">Our Team</a></li>
			<li><a href="/about/jobs/">Jobs</a></li>
		</ul>
		
	</div><!-- end left-nav -->
	
	<div class="about">
	<h1>Our Team</h1>
	
	<div id="team-member">
		<div class="image">
			<img class="image" src="<%= image_path "founder-image.jpg" %>" alt="andrew rhee" width="184" height="184" border="0" />
		</div><!-- end founder-image -->
		<div class="text">
			<h3 class="replace">Andrew Rhee</h3>
			<p><strong>Founder</strong></p>
			<p>As founder of Shield For Men, Andrew Rhee oversees the strategic direction and operations of Shield For Men and serves as the chief visionary. Enforcer of the company’s cultural values, he strives to make the workplace an environment that is both professionally and personally rewarding for all employees.</p>
		</div><!-- end text -->
	</div><!-- end team-member -->
	
	</div><!-- end about -->
	<div class="clearfix"></div>
</div><!-- end content -->
<div class="clearfix"></div>
