<% provide(:title, 'Our Values') %>

<div id="banner">
	<img src="<%= image_path "about-banner.jpg" %>" alt="About Banner" width="960" height="330" border="0" />
</div><!-- end banner -->

<div id="content">
	<div class="left-nav">
		<h2>About Us</h2>
		<ul>
			<li><a href="/about/">Our Story</a></li>
			<li><a href="/about/values/">Our Values</a></li>
			<li><a href="/about/natural/">Why Natural?</a></li>
			<li><a href="/about/ingredients/">Our Ingredients</a></li>
			<li><a href="/about/team/">Our Team</a></li>
			<li><a href="/about/jobs/">Jobs</a></li>
		</ul>
		
	</div><!-- end left-nav -->
	
	<div class="about">
	<h1>Our Values</h1>
	
	<ol>
		<li>
			<strong>Use Only the Highest Quality Natural and Organic Ingredients Available</strong>
		</li>
		<li>
			<strong>Strive to Educate Men on the Importance of Good Skin Hygiene</strong>
		</li>
		<li>
			<strong>Care About Our Local Communities and Environment</strong>
		</li>
		<li>
			<strong>Be Funny, Humorous, Even Downright Outrageous</strong>
		</li>
		<li>
			<strong>Create Win-Win Partnerships with Our Strategic Partners</strong>
		</li>
		<li>
			<strong>Always Have Fun</strong>
		</li>
		<li>
			<strong>Pursue Growth and Knowledge</strong>
		</li>
		<li>
			<strong>Be Creative and Open-Minded</strong>
		</li>
	</ol>
	
	</div><!-- end about -->
	<div class="clearfix"></div>
</div><!-- end content -->
<div class="clearfix"></div>
