<% provide(:title, 'How It Works') %>
<div id="content">
	
	<div class="how-it-works">
		<h1>How It Works</h1>
		<div class="video">
		<iframe src="http://player.vimeo.com/video/38908567?title=0&amp;byline=0&amp;portrait=0" width="450" height="253" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
		<div class="work-steps">
			<div class="step first">
				<h4>
				<span class="number">1</span>
				<span class="title">Select Moisturizer or Cleanser</span>
				</h4>
			</div>
			<div class="step second">
				<h4>
				<span class="number">2</span>
				<span class="title">Quick, Secure Checkout</span>
				</h4>
			</div>
			<div class="step third">
				<h4>
				<span class="number">3</span>
				<span class="title">Delivered Directly To Your Door</span>
				</h4>
			</div>
		</div><!-- end steps -->
		<div class="clearfix"></div>
		<hr />
		<div class="benefits">
			<h2>Benefits:</h2>
			<div class="features">
				<img src="<%= image_path "safe-to-use.jpg" %>" alt="safe to use" width="134" height="135" border="0" />
				<h3>Safe To Use</h3>
			</div><!-- end features -->
			<div class="features">
				<img src="<%= image_path "3-in-1-product.jpg" %>" alt="3-in-11-product" width="134" height="135" border="0" />
				<h3>3-in-1 Complete Product</h3>
			</div><!-- end features -->
			<div class="features">
				<img src="<%= image_path "money-back-guarantee.jpg" %>" alt="money back guarantee" width="134" height="135" border="0" />
				<h3>100% Money Back Guarantee</h3>
			</div><!-- end features -->
			<div class="features">
				<img src="<%= image_path "always-free-shipping.jpg" %>" alt="always free shipping" width="134" height="135" border="0" />
				<h3>Always Free Shipping</h3>
			</div><!-- end features -->
			
		</div><!-- end benefits -->
	</div><!-- end how-it-works -->
	<div class="clearfix"></div>

</div><!-- end content -->
<div class="clearfix"></div>