
<div id="content">  
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div class="shopping-cart">
	<h2>Your Shopping Cart</h2>
	<p>Please use this form to update your shopping cart. You may change the quantities, move items to your wish list for future purchasing, or remove items entirely. The shipping and handling cost is based upon the order total. When you are ready to complete your purchase, please click Checkout to be taken to a secure page for processing.</p>
	<%= render @cart %>

	<div class="update_cart">
		<%= link_to image_tag("empty_cart.png"), cart_path, method: :delete %>
	</div><!-- end update_cart -->
	<div class="checkout">
		<%= link_to image_tag("checkout.png"),  new_order_path, method: :get %>
	</div><!-- end checkout -->

	<div class="clearfix"></div>

</div><!-- end shopping-cart -->	
</div><!-- end content -->

	<div class="clearfix"></div>
