<div id="action">
	<div id="products" class="container">
		<h2><a href="/store">Our Products</a></h2>
		<a href="/store"><span class="products-image"></span></a>
		<p>Check out our range of masculine products to keep your looking your best.</p>
	</div><!-- end products -->
	<div id="grooming" class="container">
		<h2><a href="/tips">Grooming Tips</a></h2>
		<a href="/tips"><span class="grooming-image"></span></a>
		<p>Come discover, learn, and explore topics surrounding modern masculinity.</p>
	</div><!-- end grooming -->
	<div id="videos" class="container">
		<h2><a href="/tips">Watch Our Videos</a></h2>
		<a href="/tips"><span class="videos-image"></span></a>
		<p>Check out our latest grooming tips that'll keep your feeling your most confident at all times.</p>
	</div><!-- end videos -->
	<div id="organic" class="container">
		<h2><a href="/about/natural">100% Organic</a></h2>
		<a href="/about/natural"><span class="organic-image"></span></a>
		<p>Rest assured knowing that our products are made from natural 100% organic ingredients.</p>
	</div><!-- end organic -->
</div><!-- end action -->