<footer>
<div id="footer-inner">
	
	<div class="left">
		<p>© 2012 Shield For Men. All Rights Reserved</p>
		<ul>
			<li><a href="">Privacy Policy</a></li> |
			<li><a href="">Shipping &amp; Return Policy</a></li>
		</ul>
	</div><!-- left -->
	
	<div class="right">
		<div class="social-media-icons">
			<ul>
				<li><a href="http://www.facebook.com/shieldformen" target="_blank"><span class="facebook"></span></a></li>
				<li><a href="https://twitter.com/#!/shieldformen/" target="_blank"><span class="twitter"></span></a></li>
				<li><a href="http://www.flickr.com/photos/shieldformen/" target="_blank"><span class="flickr"></span></a></li>
				<li><a href="http://www.youtube.com/shieldformenvideos/" target="_blank"><span class="youtube"></span></a></li>
			</ul>
		</div><!-- social-media-icons -->
	</div><!-- right -->
</div><!-- footer-inner -->
</footer>